{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block app_content %}
<h2>Forgot Password</h2>
<form action="{{ url_for('auth.forgot_password') }}"  method="post">
    {{ form.csrf_token }}
    <div class="formgrid">
        {{ form.email.label }}
        <div class="form-group">
        {% for error in form.email.errors %}
            <span class="error-msg">[ {{ error }} ]</span>
        {% endfor %}
        {{ form.email }}
        </div>

        {{ form.submit(class="submit-btn") }}
    </div>
</form>
{% endblock %}
