{% extends "base.html" %}
{% block nav_login %}active{% endblock %}
{% block title %}Forgot Password{% endblock %}

{% block app_content %}
<h2>Forgot Password</h2>
<form action="{{ url_for('auth.forgot_password') }}"  method="post">
    {{ form.csrf_token }}
    <div class="formgrid">
        {{ form.email.label }}
        {% for error in form.email.errors %}
            <span style="color: red;">[ {{ error }} ]</span><br/>
        {% endfor %}
        {{ form.email }}

        {{ form.submit(class="submit-btn") }}
    </div>
</form>
{% endblock %}
