{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block app_content %}
<h2>Login</h2>
<form action="{{ url_for('auth.login') }}" method="post">
    {{ form.csrf_token }}
    <div class="formgrid">
        {{ form.email.label }}
        <div class="form-group">
        {% for error in form.email.errors %}
            <span class="error-msg">[ {{ error }} ]</span>
        {% endfor %}
        {{ form.email }}
        </div>

        {{ form.password.label }}
        <div class="form-group">
        {% for error in form.password.errors %}
            <span class="error-msg">[ {{ error }} ]</span>
        {% endfor %}
        {{ form.password }}
        </div>

        {{ form.remember_me }}
        {{ form.remember_me.label }}

        {{ form.submit(class_="submit-btn") }}
    </div>
</form>
<div class="login-footer">
    <small><a href="{{ url_for('auth.forgot_password') }}">Forgot Password</a> |
    <a href="{{ url_for('auth.register') }}">Register</a></small>
</div>

{% endblock %}
