{% extends "base.html" %}
{% block nav_login %}active{% endblock %}
{% block title %}Register{% endblock %}

{% block app_content %}
<h2>Register</h2>
<form action="{{ url_for('auth.register') }}"  method="post">
    {{ form.csrf_token }}
    <div class="formgrid">
        {{ form.email.label }}

        <div class="form-group">
            {% for error in form.email.errors %}
                <span style="color: red;">[ {{ error }} ]</span><br/>
            {% endfor %}
            {{ form.email }}
            <div class="minor-text">Your email will be your username</div>
        </div>

        {{ form.firstname.label }}
        {% for error in form.firstname.errors %}
            <span style="color: red;">[ {{ error }} ]</span><br/>
        {% endfor %}
        {{ form.firstname }}

        {{ form.lastname.label }}
        {% for error in form.lastname.errors %}
            <span style="color: red;">[ {{ error }} ]</span><br/>
        {% endfor %}
        {{ form.lastname }}

        {{ form.password.label }}
        {% for error in form.password.errors %}
            <span style="color: red;">[ {{ error }} ]</span><br/>
        {% endfor %}
        {{ form.password }}

        {{ form.password2.label }}
        {% for error in form.password2.errors %}
            <span style="color: red;">[ {{ error }} ]</span><br/>
        {% endfor %}
        {{ form.password2 }}

        {{ form.recaptcha }}
        {% for error in form.recaptcha.errors %}
            <span style="color: red;">[ {{ error }} ]</span><br/>
        {% endfor %}

        {{ form.submit(class_="submit-btn") }}
    </div>
</form>
{% endblock %}
