{% extends "base.html" %}
{% block title %}Admin | Edit Content{% endblock %}

{% block app_content %}
<div class="section">
  <div class="content">
    <h2>Edit Content</h2>
    <p>You are editing the <span class="has-text-weight-bold">{{ content.name }}</span> area on the {{ content.page.name|capitalize }} page.
    <form action="{{ url_for('admin_content.edit_content',id=content.id) }}"  method="post">
    {{ form.csrf_token }}
      <div class="field">
        {{ form.post.label(class_="label") }}
        {% set p = form.post.process_data(content.content) %}
        {{ form.post(rows=16) }}
        {% for error in form.post.errors %}
        <p class="help is-danger">{{ error }} ]</p>
        {% endfor %}
      </div>
      <div class="field">
        <div class="control">
          {{ form.submit(class_="button is-link") }}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'post/_tinymce.html' %}
{% endblock %}
