{% extends "base.html" %}
{% block nav_admin %}active{% endblock %}
{% block title %}Edit Content{% endblock %}

{% block app_content %}
<h2>Edit Content</h2>
<p>You are editing the <i>{{ content.name }}</i> area on the {{ content.page.name|capitalize }} page.
<form action="{{ url_for('admin_content.edit_content',id=content.id) }}"  method="post">
    {{ form.csrf_token }}
    <div class="formstacked">
        {{ form.post.label }}
        {% for error in form.post.errors %}
            <span class="error-msg">[ {{ error }} ]</span>
        {% endfor %}
        {% set p = form.post.process_data(content.content) %}
        {{ form.post(rows=16) }}

        {{ form.submit(class="submit-btn") }}
    </div>
</form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'post/_tinymce.html' %}
{% endblock %}
