{% extends "base.html" %}
{% block title %}Contact Me{% endblock %}

{% block app_content %}
<h2>Contact</h2>
{{ contact_html.content|safe }}
<form action="{{ url_for('main.contact') }}"  method="post">
    {{ form.csrf_token }}
    <div class="formgrid">
        {{ form.name.label }}
        <div class="form-group">
        {% for error in form.name.errors %}
            <span class="error-msg">[ {{ error }} ]</span>
        {% endfor %}
        {{ form.name }}
        </div>

        {{ form.email.label }}
        <div class="form-group">
        {% for error in form.email.errors %}
            <span class="error-msg">[ {{ error }} ]</span>
        {% endfor %}
        {{ form.email }}
        </div>

        {{ form.message.label }}
        <div class="form-group">
        {% for error in form.message.errors %}
            <span class="error-msg">[ {{ error }} ]</span>
        {% endfor %}
        {{ form.message(rows=6) }}
        </div>

        <div class="form-group">
        {% for error in form.recaptcha.errors %}
            <span class="error-msg">[ {{ error }} ]</span>
        {% endfor %}
        {{ form.recaptcha }}
        </div>

        {{ form.submit(class_="submit-btn") }}
    </div>
</form>
{% endblock %}
