{% extends "base.html" %}
{% block title %}Contact Me{% endblock %}

{% block app_content %}

<div class="section">
  <div class="field is-horizontal has-addons-centered">
      <div class="field-label">
          <label class="label">hello</label>
      </div>
      <div class="field-body">
          <div class="field is-narrow">
              <div class="control">
                      123
                  <p class="help is-danger">
                      234
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>


{% endblock %}
