{% extends "base.html" %}
{% block title %}Kevin Foong | Web & App Developer{% endblock %}

{% block app_content %}
<div class="content-wrapper">
    <div class="content-main">
    {% for post in posts.items %}
        <h2 class="post-title"><a href="{{ url_for('main.post_detail',id=post.id) }}">{{ post.heading }}</a></h2>
        <p><span class="minor-text">Posted on {{ moment(post.create_date).format('DD/MM/YYYY') }} by {{ post.author.firstname }} {{ post.author.lastname }}</span></p>
        <p>{{ post.post|safe }}</p>
        {% if post.getTagNames() %}
            <p><span class="minor-text">Tags:
                {% for tag_name in post.getTagNames() %}
                    {% if not loop.last %}
                    <a href="{{ url_for('main.index',tag=tag_name) }}">{{ tag_name }}</a>,
                    {% else %}
                    <a href="{{ url_for('main.index',tag=tag_name) }}">{{ tag_name }}</a>
                    {% endif %}
                {% endfor %}
            </span></p>
        {% endif %}
        {% if current_user.is_authenticated and current_user == post.author %}
            <div class="post-btn">
                <a href="{{ url_for('post.edit_post',id=post.id) }}">edit</a>
                <a href="{{ url_for('post.del_post',id=post.id) }}">delete</a>
            </div>
        {% endif %}
        {% if not loop.last %}
            <hr/>
        {% endif %}
    {% endfor %}

    {% if posts.pages > 1 %}
        <nav class="paging">
          <ul>
            {% if posts.has_prev %}
                <li><a href="{{ url_for('main.index', page=posts.prev_num) }}">Previous</a></li>
            {% endif %}
            {% for page_num in posts.iter_pages(left_edge=1, left_current=3, right_current=3, right_edge=1) %}
                {% if page_num %}
                    {% if page_num != posts.page %}
                        <li>
                            <a href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
                        </li>
                    {% else %}
                        <li class="active">{{ page_num }}</li>
                    {% endif %}
                {% else %}
                    <li>...</li>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
            <li>
                <a href="{{ url_for('main.index',page=posts.next_num) }}">Next</a>
            </li>
            {% endif %}
          </ul>
        </nav>
    {% endif %}
    </div>

    <aside class="content-sidebar">
        <h3>Tags</h3>
        <ul>
        {% for tag_tup in tag_list %}
            <li>
                <a href="{{ url_for('main.index',tag=tag_tup[0].name) }}">{{ tag_tup[0].name }}</a> <span class="tag_num">({{ tag_tup[1] }})</span>
            </li>
        {% endfor %}
        </ul>
        <h3>I'm bored</h3>
        <div class="side-images">
            <p>Try these interactive sketches I made. Click ... move your mouse ...</p>
            <a href="{{ url_for('main.processing', name='garden') }}"><img src="{{ url_for('static', filename='images/garden_smallx2.png') }}" width="100" height="100"></a>
            <a href="{{ url_for('main.processing', name='stars') }}"><img src="{{ url_for('static', filename='images/stars_smallx2.png') }}" width="100" height="100"></a>
            <a href="{{ url_for('main.processing', name='snake_game') }}"><img src="{{ url_for('static', filename='images/snakegame_smallx2.png') }}" width="100" height="100"></a>
            <a href="{{ url_for('main.processing', name='sun_moon') }}"><img src="{{ url_for('static', filename='images/sunmoon_smallx2.png') }}" width="100" height="100"></a>
            <a href="{{ url_for('main.processing', name='robots') }}"><img src="{{ url_for('static', filename='images/robots_smallx2.png') }}" width="100" height="100"></a>
        </div>
    </aside>
</div>
{% endblock %}
