{% extends "base.html" %}
{% block title %}Kevin Foong | Web & App Developer{% endblock %}

{% block app_content %}
<div class="columns">
  <div class="column is-9">

    {% for post in posts.items %}
    <div class="section">
      <div class="container content">
        <h2><a href="{{ url_for('main.post_detail',slug=post.slug) }}">{{ post.heading }}</a></h2>
        <p class="help">Posted on {{ moment(post.create_date).format('DD/MM/YYYY') }} by {{ post.author.firstname }} {{ post.author.lastname }}</p>
        <div class="normal-links">
          <p>{{ post.post|safe }}</p>
        </div>
        {% if post.getTagNames() %}
          <p class="is-size-7">Tags:
            {% for tag_name in post.getTagNames() %}
              <span class="tag is-info">
                <a href="{{ url_for('main.index',tag=tag_name) }}">
                  {{ tag_name }}
                </a>
              </span>
            {% endfor %}
          </p>
        {% endif %}
        {% if current_user.is_authenticated and current_user == post.author %}
          <span class="tag is-dark">
            <a href="{{ url_for('post.edit_post',slug=post.slug) }}" class="has-text-white">edit</a>
          </span>
          <span class="tag is-dark">
            <a href="{{ url_for('post.del_post',slug=post.slug) }}" class="has-text-white">delete</a>
          </span>
        {% endif %}
      </div>
    </div>
    {% endfor %}

    {% if posts.pages > 1 %}
    <div class="section">
      <div class="container">
        <nav class="pagination" role="navigation" aria-label="pagination">
          {% if posts.has_prev%}
            <a class="pagination-previous" href="{{ url_for('main.index', page=posts.prev_num) }}">Previous</a>
          {% else %}
            <a class="pagination-previous" disabled>Previous</a>
          {% endif %}
          {% if posts.has_next %}
            <a class="pagination-next" href="{{ url_for('main.index',page=posts.next_num) }}">Next Page</a>
          {% else %}
            <a class="pagination-next" disabled>Next Page</a>
          {% endif %}
          <ul class="pagination-list">
          {% for page_num in posts.iter_pages(left_edge=1, left_current=3, right_current=3, right_edge=1) %}
            {% if page_num %}
              {% if page_num != posts.page %}
                <li>
                  <a class="pagination-link" aria-label="Goto page {{ page_num }}" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
                </li>
              {% else %}
                <li class="pagination-link is-current" aria-label="Page {{ page_num }}" aria-current="page">{{ page_num }}</li>
              {% endif %}
            {% else %}
              <span class="pagination-ellipsis">&hellip;</span>
            {% endif %}
          {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
    {% endif %}

  </div>
  <div class="column is-3">
    <div class="section">
      <div class="container content">
        <h3 class="title is-3">Tags</h3>
        {% for tag_tup in tag_list %}
        <div style="padding: 0.2rem 0 0.2rem 0;">
          <span class="tag is-info">
            <a href="{{ url_for('main.index',tag=tag_tup[0].name) }}">
            {{ tag_tup[0].name }} ({{ tag_tup[1] }})
            </a>
          </span>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="section">
      <div class="container">
        <h3 class="title is-3">Play</h3>
        <div class="side-images">
          <p>Sketches created using Processing.. enjoy!</p>
          <a href="{{ url_for('main.processing', name='garden') }}"><img src="{{ url_for('static', filename='images/garden_smallx2.png') }}" width="100" height="100"></a>
          <a href="{{ url_for('main.processing', name='stars') }}"><img src="{{ url_for('static', filename='images/stars_smallx2.png') }}" width="100" height="100"></a>
          <a href="{{ url_for('main.processing', name='snake_game') }}"><img src="{{ url_for('static', filename='images/snakegame_smallx2.png') }}" width="100" height="100"></a>
          <a href="{{ url_for('main.processing', name='sun_moon') }}"><img src="{{ url_for('static', filename='images/sunmoon_smallx2.png') }}" width="100" height="100"></a>
          <a href="{{ url_for('main.processing', name='robots') }}"><img src="{{ url_for('static', filename='images/robots_smallx2.png') }}" width="100" height="100"></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
