{% extends "base.html" %}
{% block title %}{{ post.heading }}{% endblock %}

{% block app_content %}
<h2>{{ post.heading }}</h2>
<p><span class="minor-text">Posted on {{ moment(post.create_date).format('DD/MM/YYYY') }} by {{ post.author.firstname }} {{ post.author.lastname }}</span></p>
<p>{{ post.post|safe }}</p>
{% if post.getTagNames() %}
    <p><span class="minor-text">
        <span>Tags:</span>
        {% for tag_name in post.getTagNames() %}
            {% if not loop.last %}
            <a href="{{ url_for('main.index',tag=tag_name) }}">{{ tag_name }}</a>,
            {% else %}
            <a href="{{ url_for('main.index',tag=tag_name) }}">{{ tag_name }}</a>
            {% endif %}
        {% endfor %}
    </span></p>
{% endif %}
{% if current_user.is_authenticated and current_user == post.author %}
    <div class="post-btn">
        <a href="{{ url_for('post.edit_post',id=post.id) }}">edit</a>
        <a href="{{ url_for('post.del_post',id=post.id) }}">delete</a>
    </div>
{% endif %}

<hr/>
<h3>Comments</h3>
{% for comment in comments %}
    {% if comment.name is not none %}
        <p><span class="minor-text">{{ comment.name }} on {{ moment(comment.create_date).format('DD/MM/YYYY LT') }}</span></p>
    {% else %}
        {% if comment.commenter is not none %}
            <p><span class="minor-text">{{ comment.commenter.firstname }} {{ comment.commenter.lastname }}
                 on {{ moment(comment.create_date).format('DD/MM/YYYY LT') }}</span></p>
        {% endif %}
    {% endif %}
    <p>{{ comment.comment }}</p>
    <hr/>
{% endfor %}

<form action="{{ url_for('main.post_detail',id=post.id) }}" method="post">
    {{ form.csrf_token }}
    <div class="formgrid">
        {% if current_user.is_anonymous %}
            {{ form.name.label }}
            <div class="form-group">
            {% for error in form.name.errors %}
                <span class="error-msg">[ {{ error }} ]</span>
            {% endfor %}
            {{ form.name }}
            </div>

            {{ form.email.label }}
            <div class="form-group">
            {% for error in form.email.errors %}
                <span class="error-msg">[ {{ error }} ]</span>
            {% endfor %}
            {{ form.email }}
            <div class="minor-text">Email is optional</div>
            </div>
        {% endif %}

        {{ form.comment.label }}
        <div class="form-group">
        {% for error in form.comment.errors %}
            <span class="error-msg">[ {{ error }} ]</span>
        {% endfor %}
        {{ form.comment(rows='4') }}
        </div>

        <div class="form-group">
        {{ form.recaptcha }}
        {% for error in form.recaptcha.errors %}
            <span class="error-msg">[ {{ error }} ]</span>
        {% endfor %}
        </div>

        {{ form.submit(class="submit-btn") }}
    </div>
</form>
{% endblock %}
