{% extends "base.html" %}
{% block title %}{{ post.heading }}{% endblock %}

{% block app_content %}
<div class="section">
  <div class="content">
    <h2>{{ post.heading }}</h2>
    <p class="help">Posted on {{ moment(post.create_date).format('DD/MM/YYYY') }} by {{ post.author.firstname }} {{ post.author.lastname }}</p>
    <p>{{ post.post|safe }}</p>
    {% if post.getTagNames() %}
      <p class="is-size-7">Tags:
        {% for tag_name in post.getTagNames() %}
          <span class="tag is-info">
            <a href="{{ url_for('main.index',tag=tag_name) }}">
              {{ tag_name }}
            </a>
          </span>
        {% endfor %}
      </p>
    {% endif %}
    {% if current_user.is_authenticated and current_user == post.author %}
      <span class="tag is-dark">
        <a href="{{ url_for('post.edit_post',id=post.id) }}" class="has-text-white">edit</a>
      </span>
      <span class="tag is-dark">
        <a href="{{ url_for('post.del_post',id=post.id) }}" class="has-text-white">delete</a>
      </span>
    {% endif %}
  </div>
</div>

<div class="section">
  <div class="content">
    <h3>Comments</h3>
  </div>

  <table class="table is-striped is-fullwidth">
  {% for comment in comments %}
    <tr><td>
    {% if comment.name is not none %}
      <p class="help">{{ comment.name }}
        on {{ moment(comment.create_date).format('DD/MM/YYYY LT') }}</p>
    {% else %}
      {% if comment.commenter is not none %}
        <p class="help">{{ comment.commenter.firstname }} {{ comment.commenter.lastname }}
          on {{ moment(comment.create_date).format('DD/MM/YYYY LT') }}</p>
      {% endif %}
    {% endif %}
    <p style="white-space: pre-line">{{ comment.comment }}</p>
    </td></tr>
  {% endfor %}
  </table>
</div>

<div class="section">
  <div class="content">
    <h4>Leave a Comment</h4>
  </div>
  <form action="{{ url_for('main.post_detail',id=post.id) }}" method="post">
  {{ form.csrf_token }}

    {% if current_user.is_anonymous %}
      <div class="field">
        {{ form.name.label(class_='label') }}
        <div class="control">
          {{ form.name(class_='input') }}
        </div>
        {% for error in form.name.errors %}
          <p class="help is-danger">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="field">
        {{ form.email.label(class_='label') }}
        <div class="control">
          {{ form.email(class_='input') }}
        </div>
        {% for error in form.email.errors %}
          <p class="help is-danger">{{ error }}</p>
        {% endfor %}
        <p class="help is-info">Email is optional</p>
      </div>
    {% endif %}

    <div class="field">
      {{ form.comment.label(class_='label') }}
      <div class="control">
        {{ form.comment(rows='4', class_='textarea') }}
      </div>
      {% for error in form.comment.errors %}
        <p class="help is-danger">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="field">
      <div class="control">
        {{ form.recaptcha }}
        {% for error in form.recaptcha.errors %}
          <p class="help is-danger">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="field">
      <div class="control is-expanded">
        {{ form.submit(class_="button is-link") }}
      </div>
    </div>
  </form>
</div>

{% endblock %}
