.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-main {
    flex: 1 0 auto;
    background-color: #f4f4f4;
}
.site-title {
  font-family: 'Merriweather Sans', sans-serif;
}
.footer a {
  color: #F4F4F4;
}
.footer a:hover {
  color: #0E0E0E;
}
.normal-links a {
  color: #fa744f;
}
.normal-links a:hover {
  color: #f79071;
}

/*fixes Prism Bulma bug */
pre  {
  background-color: #002b36;
}
pre code {
  background: unset;
  color: unset;
}
pre code .tag, pre code .number, pre code .label {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}
