.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-main {
    flex: 1 0 auto;
    background-color: #f4f4f4;
}
.site-title {
  font-family: 'Merriweather Sans', sans-serif;
}
.footer a {
  color: #F4F4F4;
}
.footer a:hover {
  color: #0E0E0E;
}
