{% extends "base.html" %}
{% block title %}Admin | Edit Post{% endblock %}

{% block app_content %}
<div class="section">
  <div class="content">
    <h2>Edit Post</h2>
    <form action="{{ url_for('post.edit_post',id=post.id) }}"  method="post">
    {{ form.csrf_token }}
      <div class="field">
        {{ form.heading.label(class_='label') }}
        <p class="control">
          {% set h = form.heading.process_data(post.heading) %}
          {{ form.heading(class_="input") }}
        </p>
        {% for error in form.heading.errors %}
        <p class="help is-danger">{{ error }} ]</p>
        {% endfor %}
      </div>

      <div class="field">
        {{ form.post.label(class_='label') }}
        <p class="help is-info"">
          Hint: Add a summary break by adding &lt;p&gt;br&lt;a id="br"&gt;&lt;/a&gt;&lt;/p&gt;
        </p>
        <p class="control">
          {% set p = form.post.process_data(post.post) %}
          {{ form.post(rows=16) }}
        </p>
        {% for error in form.post.errors %}
        <p class="help is-danger">{{ error }} ]</p>
        {% endfor %}
      </div>

      <div class="field">
        {{ form.tags.label(class_='label') }}
        <p class="help is-info">Hint: Separate tags by , (comma)</p>
        <p class="control">
          {% set t = form.tags.process_data(tags) %}
          {{ form.tags(class_="input") }}
        </p>
        {% for error in form.tags.errors %}
        <p class="help is-danger">{{ error }} ]</p>
        {% endfor %}
      </div>

      <div class="field">
        <div class="control">
          {{ form.submit(class_="button is-link") }}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'post/_tinymce.html' %}
{% endblock %}
