{% extends "base.html" %}
{% block nav_admin %}active{% endblock %}
{% block title %}Edit Post{% endblock %}

{% block app_content %}
<h2>Edit Post</h2>
<form action="{{ url_for('post.edit_post',id=post.id) }}"  method="post">
    {{ form.csrf_token }}
    <div class="formstacked">
        {{ form.heading.label }}
        {% for error in form.heading.errors %}
            <span style="color: red;">[ {{ error }} ]</span><br/>
        {% endfor %}
        {% set h = form.heading.process_data(post.heading) %}
        {{ form.heading }}

        {{ form.post.label }}
        <div class="minor-text">Hint: Add a summary break by adding &lt;p&gt;br&lt;a id="br"&gt;&lt;/a&gt;&lt;/p&gt;'></div>
        {% for error in form.post.errors %}
            <span style="color:red">[ {{ error }} ]</span><br/>
        {% endfor %}
        {% set p = form.post.process_data(post.post) %}
        {{ form.post(rows=16) }}

        {{ form.tags.label }}
        {% for error in form.tags.errors %}
            <span style="color:red">[ {{ error }} ]</span><br/>
        {% endfor %}
        {% set t = form.tags.process_data(tags) %}
        {{ form.tags }}

        {{ form.submit(class="submit-btn") }}
    </div>
</form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'post/_tinymce.html' %}
{% endblock %}
