{% extends "base.html" %}
{% block nav_admin %}active{% endblock %}
{% block title %}Edit Tag{% endblock %}

{% block app_content %}
<h2>Edit Tag</h2>

<form action="{{ url_for('admin_tag.edit_tag',id=tag.id) }}"  method="post">
    {{ form.csrf_token }}
    <div class="formgrid">
        {{ form.tag_name.label }}
        <div class="form-group">
        {% for error in form.tag_name.errors %}
            <span class="error-msg">[ {{ error }} ]</span>
        {% endfor %}
        {% set t = form.tag_name.process_data(tag.name) %}
        {{ form.tag_name }}
        </div>

        {{ form.submit(class="submit-btn") }}
    </div>
</form>
{% endblock %}
