{% extends "base.html" %}
{% block title %}Admin | Manage Tags{% endblock %}

{% block app_content %}
<div id="app">
  <div class="section">
    <div class="content">
      <h2>Manage Tags</h2>
    </div>

    <div class="tabs">
      <ul>
        <li :class="{ 'is-active': tabTagUsed }">
          <a href="#" @click.prevent="tabTagUsed=true">
            Tags used
          </a>
        </li>
        <li :class="{ 'is-active': !tabTagUsed }">
          <a href="#" @click.prevent="tabTagUsed=false">
            Tags not used
          </a>
        </li>
      </ul>
    </div>

    <div v-if="tabTagUsed">
      <p>To delete these tags, first remove them from all blog postings</p>
      <table class="table is-striped">
        {% if tag_used|length > 0 %}
        <thead>
          <tr>
            <th class="has-text-weight-bold">Name of Tag</th>
            <th class="has-text-weight-bold">Action</th>
          </tr>
        </thead>
        {% endif %}
        <tbody>
        {% for tu in tag_used %}
          <tr>
            <td>{{ tu.name }}</td>
            <td><a href="{{ url_for('admin_tag.edit_tag',id=tu.id) }}">edit</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <table v-else class="table is-striped">
      {% if tag_notused|length > 0 %}
      <thead>
        <tr>
          <th class="has-text-weight-bold">Name of Tag</th>
          <th class="has-text-weight-bold">Action</th>
        </tr>
      </thead>
      {% endif %}
      <tbody>
      {% for tnu in tag_notused %}
        <tr>
          <td>{{ tnu.name }}</td>
          <td><a href="{{ url_for('admin_tag.edit_tag',id=tnu.id) }}">edit</a>
          <a href="{{ url_for('admin_tag.del_tag',id=tnu.id) }}">delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  new Vue({
    el: '#app',
    data: {
      tabTagUsed: true
    }
  });
</script>
{% endblock %}
