{% extends "base.html" %}
{% block title %}Admin | Manage Images{% endblock %}

{% block app_content %}
<h2>Manage Images</h2>

<div class="image-gallery">
    {% for img in images.items %}
    <div class="image-container">
        <img src="{{ url_for('static',filename='uploads/thumbnails/' ~ img.thumbnail) }}">
        <div class="minor-text word-wrap">
            <span id="copyclip-{{ loop.index }}">../../static/uploads/{{ img.filename }}</span>
            <a href="#" class="far fa-clipboard" id="{{ loop.index }}" onClick="copyText(this.id);"></a>
        </div>
        <div class="minor-text">{{ img.file_width }}x{{ img.file_height }}</div>
        <div class="minor-text">{{ img.file_size }} bytes</div>
        <div class="minor-text">Uploaded: {{ moment(img.create_date).format('DD/MM/YY') }}</div>
        <div><a href="{{ url_for('admin_image.del_image',id=img.id) }}" class="fas fa-trash-alt fa-sm"></a></div>
    </div>
    {% endfor %}
</div>

    {% if images.pages > 1 %}
        <nav aria-label="posts navigation">
          <ul class="pagination pagination-sm justify-content-left  pt-5">
            {% if images.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('admin_image.manage_images', page=images.prev_num) }}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}

            {% for page_num in images.iter_pages(left_edge=1, left_current=3, right_current=3, right_edge=1) %}
                {% if page_num %}
                    {% if page_num != images.page %}
                        <li class="page-item">
                            <span class="page-link"><a href="{{ url_for('admin_image.manage_images', page=page_num) }}">{{ page_num }}</a></span>
                        </li>
                    {% else %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ page_num }}</span>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item">
                        <span class="page-link">...</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if images.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('admin_image.manage_images',page=images.next_num) }}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
          </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}
