{% extends "base.html" %}
{% block title %}Testing only - payment{% endblock %}

{% block app_content %}
<h2>Cart</h2>

<form method="POST">
{% for d in data %}
    <img src="/static/images/bt/{{ d['image'] }}" alt="" width="120"><br>
    <span id="price-{{loop.index0}}">${{ d['price'] }}</span><br>
    Qty: <input type="text" name="qty{{loop.index0}}" value="{{ d['qty'] }}">
    <button type="submit" formaction="{{ url_for('test.update_cart',id=loop.index0) }}">Update</button>
    <button type="submit" formaction="{{ url_for('test.remove_cart',id=loop.index0) }}">Remove</button><br/><br/>
{% endfor %}
</form>

<h4>Total number of items: {{ total_no_items }}</h4>
<h3>Total ${{ total }}</h3>

<a href="{{ url_for('test.checkout') }}">Checkout</a>

{% endblock %}
