{% extends "base.html" %}
{% block title %}Testing only - payment{% endblock %}

{% block scripts %}
<script src="https://js.braintreegateway.com/web/dropin/1.20.0/js/dropin.min.js"></script>
{% endblock %}

{% block app_content %}
<h2>Payment details</h2>

<h4>Drop in UI</h4>
<p>Make a test payment with Braintree using PayPal or a card</p>

<p><img class="cart" src="{{ url_for('static', filename='images/bt/shopping-cart-solid.svg') }}" width="20"></p>

<p>Enter your address....</p>

{% for d in data %}
    {{ d['title'] }} Qty: {{ d['qty'] }} Price: ${{ d['price'] }}<br/>
{% endfor %}
{{ total_no_items }} number of items, total: {{ total }}
<br/><br/>

<div class="bt-drop-in-wrapper">
  <div id="bt-dropin"></div>
</div>

<form id="payment-form" method="post" action="{{ url_for('test.create_checkout') }}">
    <input type="hidden" name="total_amt" value="{{ total }}" />
    <input type="hidden" id="nonce" name="payment_method_nonce" />
    <button class="submit-btn" type="submit">Submit Payment</button>
</form>



<script>
  var form = document.querySelector('#payment-form');
  var client_token = '{{ client_token }}';
  braintree.dropin.create({
    authorization: client_token,
    container: '#bt-dropin',
    paypal: {
      flow: 'vault'
    }
  }, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
      event.preventDefault();
      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }
        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });
</script>


{% endblock %}
