{% extends "base.html" %}
{% block title %}Testing only - payment{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='scripts/jquery-3.4.1.min.js') }}"></script>
<script>
    function add_cart(id, priceElem, destElem) {
        $(destElem).html('<img src="{{ url_for('static', filename='images/bt/loading.gif') }}">');
        $.post("{{ url_for('test.add_cart') }}", {
            id: id,
            price: $(priceElem).text()
        }).done(function(response) {
            $(destElem).text(response['count']);
        }).fail(function() {
            $(destElem).html('');
            console.log('Error has occurred');
        });
    }
</script>
{% endblock %}

{% block app_content %}
<h2>Catalog</h2>

<p>
    <img class="cart" src="{{ url_for('static', filename='images/bt/shopping-cart-solid.svg') }}" width="20">
    <span id="cart-count"></span>
</p>

{% for d in data %}
    <img src="/static/images/bt/{{ d['image'] }}" alt="" width="120"><br>
    <span id="price-{{loop.index0}}">${{ d['price'] }}</span><br>
    <a href="javascript:add_cart(
    '{{loop.index0}}','#price-{{loop.index0}}','#cart-count'
    );">Add to cart</a><br><br>
{% endfor %}

<a href="{{ url_for('test.cart') }}">View cart</a>
<br/>
<a href="{{ url_for('test.clear_cart') }}">Clear cart</a>

{% endblock %}
