{% extends "base.html" %}
{% block nav_admin %}active{% endblock %}
{% block title %}Manage Message{% endblock %}

{% block app_content %}

    <h2>Manage Messages</h2>
    <p>Here are all the messages you have received via the contact form.</p>
    <table>
    {% for msg in contacts.items %}
        <tr>
            <td>Date:</td>
            <td>{{ moment(msg.create_date).format('DD/MM/YY LT') }}</td>
        </tr><tr>
            <td>From:</td>
            <td>{{ msg.name }}</td>
        </tr><tr>
            <td>Email:</td>
            <td>{{ msg.email }}</td>
        </tr><tr>
            <td>Message:</td>
            <td>{{ msg.message }}</td>
        </tr>
        {% if not loop.last %}
            <tr><td colspan="2"><hr/></td></tr>
        {% endif %}
    {% endfor %}
    </table>

    {% if contacts.pages > 1 %}
        <nav class="paging">
          <ul>
            {% if contacts.has_prev %}
                <li><a href="{{ url_for('admin_message.manage_messages', page=contacts.prev_num) }}">Previous</a></li>
            {% endif %}
            {% for page_num in contacts.iter_pages(left_edge=1, left_current=3, right_current=3, right_edge=1) %}
                {% if page_num %}
                    {% if page_num != contacts.page %}
                        <li>
                            <a href="{{ url_for('admin_message.manage_messages', page=page_num) }}">{{ page_num }}</a>
                        </li>
                    {% else %}
                        <li class="active">{{ page_num }}</li>
                    {% endif %}
                {% else %}
                    <li>...</li>
                {% endif %}
            {% endfor %}
            {% if contacts.has_next %}
            <li>
                <a href="{{ url_for('admin_message.manage_messages',page=contacts.next_num) }}">Next</a>
            </li>
            {% endif %}
          </ul>
        </nav>
    {% endif %}

{% endblock %}
