{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block app_content %}
<div class="col-12">
    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="post">
        {{ form.csrf_token }}
        <div class="form-row">
            <div class="form-group col-lg-8">
                {{ form.email.label }}
                {% for error in form.email.errors %}
                    <span style="color: red;">[ {{ error }} ]</span><br/>
                {% endfor %}
                {{ form.email(class="form-control") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-8">
                {{ form.password.label }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[ {{ error }} ]</span><br/>
                {% endfor %}
                {{ form.password(class="form-control") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <div class="form-check custom-control custom-checkbox">
                    {{ form.remember_me(class="custom-control-input") }}
                    {{ form.remember_me.label(class="custom-control-label") }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-8">
                {{ form.submit(class="btn btn-md btn-buttons") }}
            </div>
        </div>
    </form>
    <hr/>
    <p><small><a href="{{ url_for('forgot_password') }}">Forgot Password</a> |
    <a href="{{ url_for('register') }}">Register</a></small></p>
</div>
{% endblock %}
