{% extends "base.html" %}
{% block title %}Reset password{% endblock %}

{% block app_content %}
<div class="col-12">
    <h1>Reset Password</h1>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=50) }}
        {% for error in form.password.errors %}
            <span style="color: red;">[ {{ error }} ]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=50) }}
        {% for error in form.password2.errors %}
            <span style="color: red;">[ {{ error }} ]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</div>
{% endblock %}
